body,
html {
    height: 100%;
    margin: 0;
}

header {
    background: url("../img/blurb.jpg");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: #1D2A33;
}

.cont {
    min-height: 300px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0;
    height: fit-content;
}

.cont p {
    font-size: 1.2em;
}

@media screen and (min-width: 768px) {
    .navbar-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.cont p,
a {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.cont img {
    width: 100%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cont h1 {
    text-align: center;
}

#companys img {
    margin-left: auto;
    margin-right: auto;
}

header img {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer {
    width: 100%;
    min-height: 300px;
    height: auto;
    overflow: auto;
    padding: 20px;
    text-align: center;
}

footer img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

footer p,
footer h1,
footer h2 {
    color: white;
}

@media screen and (max-width: 500px) {
    footer h1 {
        font-size: 5vw;
    }
}

#content {
    width: 100%;
    min-height: 300px;
    color: black;
}

.bg-1 {
    background-color: #303030;
}

.bg-2 {
    background-color: #1D2A33;
}

.bg-3 {
    background-color: whitesmoke;
}

.bg-4 {
    background-color: #1D2A33;
}

.flag {
    margin-right: 20px;
}